.login-form {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px;
    width: 100%;
    background-color: #fff;
    height: auto;
    border-radius: 5px;
 
}
.section-form{
    margin:30px auto;
}
button.btnprimary {
    border: none;
    background-color: #B57DDE
}
button.btnprimary :hover{
    border: none;
    background-color: #B57DDE
}